@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend Deca", sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
