@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --white: rgba(255, 255, 255, 0.5);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lexend Deca", sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
