@use "config" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    background-color: $light-grayish-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 110rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "violet violet gray white-2"
        "white-1 dark dark white-2";
    gap: 3rem;
}
